---
---

@import "minima";

.post-cate {
    display: inline-block;
    text-align: left;
    position: relative;

    span {
        border-radius: 5.5px;
        padding: 1px 5.4px;
        border: 1px solid #ccc;
        text-transform: lowercase;
        font-weight: 500;
        font-size: 12px;
        color: #878686;
        margin-right: 5px;
    }
    .tag {
        background-color: #dfe6f1; // fill color for tags
        border-color: transparent;
        color: #3a3a3a;
        text-transform: none;
    }
}

// Resume

#resume {
	.intro {
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.6s ease-out;
	}

	.section {
		list-style: none;
	}

	.section-title {
		font-weight: 600;
		margin-left: -30px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-bottom: 12px;
		border-bottom: 1px solid;
	
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.6s ease-out;
		div {
			width: 32px;
			margin-right: 8px;
			transform: translateY(6px);
			display: inline-flex;
		}
	}
	
	.section-icon {
		width: 28px;
		vertical-align: sub;
		aspect-ratio: 1.0;
	}

	.part {
		list-style:disc;
		list-style-position: outside;
		margin-left: -30px;
		padding-bottom: 16px;
		padding-left: 1.55em;
		text-indent: -0.6em;

		opacity: 0;
		transform: translateY(20px);
		transition: all 0.6s ease-out;
	}

	.part-title {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
        width: 100%;
        position: relative;
		font-weight: 550;
	}

	.part-date {
		font-weight: 600;
		color: #878686;
	}

	.part-content {
		list-style: square;
		list-style-position: outside;
		margin-left: 1rem;
		padding-left: 1rem;
		text-indent: -0.6em;

		opacity: 0;
		transform: translateY(20px);
		transition: all 0.6s ease-out;
	}

	.part-sub-content{
		font-style: italic;
		font-weight: 450;
		margin-left: 1rem;
		
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.6s ease-out;
	}

	img[alt="devicon"] { 
        height: 60px;
        width: 60px;
    }

	.appear {
		opacity: 1;
		transform: none;
	}
}

// Album
.album-grid {
	column-count: 2;
	column-gap: 2rem;
}

.album-card {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	margin-bottom: 2rem;
	height: 100%;  
	overflow: hidden;
	
	.album-title {
		text-align: center;
		color: #131312;
		margin-top: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		text-align: center;
	}

	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
	
	img.album-cover {
		width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}
}

// Gallery

.gallery {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	gap: 1rem;
  	margin: 2rem 0;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.lightbox-trigger {
	cursor: pointer;
}

.lightbox-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 90vw;
	max-height: 90vh;
}

.lightbox-backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#lightbox-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	backdrop-filter: blur(2px);
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 0.2s ease;
}

#lightbox-overlay.hidden {
	display: none;
}

#lightbox-image {
	max-width: 80vw;
	max-height: 80vh;
	z-index: 1000;
	height: auto;
	width: auto;
	object-fit: contain;
}

#lightbox-meta {
	margin-top: 1rem;
	color: #eee;
	font-size: 0.9rem;
	text-align: center;
}