---
layout: default
---

<div id="resume">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="intro">
        {{ content }}
    </div>
    
    {% assign meta = "" | split: "" %}
    {% for yml_file in site.data %}
        {% assign meta = meta | push:yml_file[1] %}
    {% endfor %}
    {% assign meta = meta | sort: 'listing-order' %}

    <div>
        <ul>
        {% for section in meta %}
            <li class="section">
                <h2 class="section-title">
                    <div>
                        <img class="section-icon" src="{{ section.icon }}" alt="{{ section.subject }}">
                    </div>
                    {{ section.subject }}
                </h2>   
                <ul>
                {% for part in section.contents %}
                    <li class="part">
                        <div class="part-title">
                        {{ part.title | markdownify }}
                        {% if part.date %}
                            <span class="part-date">
                            {{ part.date }}
                            </span>
                        {% endif %}
                        </div>
                        {% for content in part %}
                            {% if content[0] != "title" and content[0] != "date" %}
                                {% if content[1].first %}
                                <ul>
                                    {% for sub in content[1] %}
                                    <li class="part-content">
                                        {{ sub | markdownify }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                    <div class="part-sub-content">
                                        {{ content[1] | markdownify }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
                </ul>             
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script src="{{ 'assets/js/about-appear.js' | relative_url }}"></script>