---
layout: default
---

<div>
    <h2 class="post-list-heading">{{ page.title }}</h2>
    {% assign albums = site.categories.photography %}
    <div class="album-grid">
        {% for album in albums %}
            <a class="album-card" href="{{ album.url | relative_url }}">
                <div class="album-content">
                    <img class="album-cover" src="{{ album.cover | escape }}" alt="{{ album.title }}">
                    <h4 class="album-title">{{ album.title | escape }}</h4>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<script src="{{ 'assets/js/appear.js' | relative_url }}"></script>